@css {
    /* WYMeditor */
    /* Notification */
    p.notification {
      color: #ccf;
      /* background-color: #ff9; border: 2px solid #ee9; */
    }
    /* /WYMeditor */
}

body
    background-color #eee
    background-image url('../js/vendor/wymeditor/skins/cms/bg.png')
    padding-bottom 50px
    h1
        text-align left
        font-size
        display block
        color #aaa
        text-shadow 0px 1px 0px #000
        padding-left 20px
        margin 0px
        font-size 12px
        background-color #1A1E22
        height 35px
        line-height 35px
        text-transform uppercase
    nav
        background-color #333
        overflow hidden
    section#login
        position absolute
        top 50%
        left 50%
        height 200px
        margin-top -100px
        margin-left -150px
        width 300px
        p
            text-align center
        p.error
            color #900
        label
            width 300px
            text-align center
            display block
            margin-bottom 10px
            height 30px
            line-height 30px
        input:not([type=submit])
            display block
            width 300px
            height 30px
            -webkit-border-radius 5px
            border-radius 5px
            border 1px solid #ccc
            text-align center
    section#intro
        margin-left 20px
    input[type=submit]
        border 0px
        background-color #91BC45
        position fixed
        left 50%
        bottom 0
        color #EEE
        font-size 20px
        height 50px
        width 300px
        margin-left -150px
        -webkit-border-radius: 5px 5px 0px 0px;
        border-radius: 5px 5px 0px 0px;
        display block
        cursor pointer
        background: #91bc45; /* Old browsers */
        background: -moz-linear-gradient(top,  #91bc45 0%, #5c782c 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91bc45), color-stop(100%,#5c782c)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #91bc45 0%,#5c782c 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #91bc45 0%,#5c782c 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #91bc45 0%,#5c782c 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #91bc45 0%,#5c782c 100%); /* W3C */
    #notification
        display block
        text-align center
        color #EEE
        background-color #333
        padding 20px
        margin 0px
    div.category
        float left
    h2.page
        padding-left 20px
        clear both
        display inline-block
        float left
        color #EEE
        height 30px
        line-height 30px
        background-image url('../js/vendor/wymeditor/skins/cms/category.png')
        padding-right 25px
        background-position center right
        background-repeat no-repeat
        font-size 13px
        margin 0px
        margin-top 10px
    h2.page+ul
        overflow hidden
        display block
        float left
        background-color #333
        margin 0px
        font-size 12px
        list-style-type none
        padding-left 20px
        li
            float left
            background-color #5C782C
            margin-right 10px
            margin-top 10px
            line-height 30px
            height 30px
            a
                color #EEE
                text-decoration none
                margin-left 5px
                margin-right 5px
        li:hover
            background-color #91BC45
    div.category:last-of-type ul
        margin-bottom 10px
