*~
*.sw*
.htaccess
build/*
dist/*
src/www/index.php
src/www/assets/js/*.map
src/www/assets/js/app.js
src/server/composer.phar
src/server/bin/
src/server/vendor/
src/server/config/config.php
src/client/node_modules/
src/client/bower_components/
src/server/behat.yml
