app.subdir=vtemplate/
app.classdir=${project.basedir}/application/classes
app.indexfile=
app.charset=utf-8
app.errorhandling=TRUE
app.profiling=FALSE
app.caching=FALSE
app.cookiesalt=pleasechangethistoanyrandomstringwithoutsinglequotes

behat.showcmd=opera-next %s
behat.baseurl=http://localhost/${app.subdir}
behat.browsername=chrome

# Available types: local, ssh, ftp, rsync
deploy.type=local
deploy.location=/path/to/webroot
# The following is only necessary if you are not using deploy.type=local
deploy.host=localhost
deploy.user=username
deploy.pass=password
deploy.port=22

chown.user=user
chown.group=group
chmod.required=false

db.host=localhost
db.user=username
db.pass=password
db.name=database

# Available formats: tar, targz, tarbz2, zip
package.format=zip

# Configure directories for Phing output
dir.build=${project.basedir}/build
dir.make=${dir.build}/code
dir.install=${dir.build}/code
dir.docs=${dir.build}/docs
dir.reports=${dir.build}/reports

# Enable in case of internal server errors or "No input file specified" error
# http://kohanaframework.org/3.3/guide/kohana/tutorials/clean-urls
quirk.rewriterule=false

# Enable if your environment does not allow the FollowSymlinks option
quirk.followsymlinks=false
