[website]

subdir=
enable_errorhandling=TRUE
enable_profiling=FALSE
enable_caching=FALSE
cookiesalt=pleasechangethistoanyrandomstringwithoutsinglequotes
base_url=http://makkoto-dev/
cdn_url=http://makkoto-dev/assets/
log_path=/var/www/localhost/htdocs/makkoto-live/log/
cache_path=/var/www/localhost/htdocs/makkoto-live/cache/

[database]

host=localhost
name=makkoto
username=root
password=

[email]

smtp_host=localhost
smtp_port=587
smtp_username=username
smtp_password=password
smtp_use_tls=TRUE
smtp_use_ssl=FALSE

default_to_address=support@sevenstrokes.net
default_to_name=SevenStrokes Support
default_from_address=support@sevenstrokes.net
default_from_name=SevenStrokes Support
default_bcc_address=support@sevenstrokes.net
default_bcc_name=SevenStrokes Support

contact_address=support@sevenstrokes.net
report_copyright_address=support@sevenstrokes.net
report_inappropriate_address=support@sevenstrokes.net

[rabbitmq]

host=localhost
port=5672
username=guest
password=guest

[facebook]

app_id=app_id
app_secret=app_secret

[twitter]

consumer_key=consumer_key
consumer_secret=consumer_secret

[google]

client_id=client_id
client_secret=client_secret
server_key=server_key

[foursquare]

clientid=clientid
clientsecret=clientsecret

[braintree]

use_sandbox=TRUE
merchant_id=merchant_id
public_key=public_key
private_key=private_key

[dimension]

user_avatar_size=300
photo_fullscreen_width=900
photo_fullscreen_height=900
photo_embedded_width=600
photo_embedded_height=1000
photo_icon_width=250
photo_icon_height=250

[path]

; Where non logical template assets are held
assets=/path/to/assets/

; High resolution renders of designs
design_render=/path/to/assets/uploads/design/render/

; Design thumbnails superimposed on the product image
design_thumbnail=/path/to/assets/uploads/design/thumbnail/

; Used for storing wip files when doing image processing
design_tmp=/path/to/assets/uploads/tmp/design/

; Design templates
design_templates=/path/to/assets/templates/

; Where product normal maps are located
product_normal=/path/to/assets/images/products/normals/

; Where product thumbnail base images are located
product_thumbnail=/path/to/assets/images/products/thumbnails/

; Temporary photo upload directory
photo_tmp=/path/to/assets/uploads/photo_tmp/

; High resolution original photos
photo_original=/path/to/assets/uploads/photo/

; Photo embed size location
photo_embed=/path/to/assets/uploads/photo/embed/

; Photo icon size location
photo_icon=/path/to/assets/uploads/photo/icon/

; Photo screen size location
photo_screen=/path/to/assets/uploads/photo/screen/

; Photo background location
photo_background=/path/to/assets/uploads/photo/background/

; User profile pictures
profile_picture=/path/to/assets/uploads/profile_picture/

; Temporary directory for composite
composite_tmp=/path/to/assets/uploads/tmp/composite/

; Composite files
composite=/path/to/assets/uploads/photo/composite/

; Rendered text files
text=/path/to/assets/uploads/text/

; Source svgs for text files
text_tmp=/path/to/assets/uploads/tmp/text/

[bin]

node=/usr/bin/node
photoshop=/var/www/localhost/htdocs/makkoto-website/src/client/app/cli/photoshop.js
convert=/usr/bin/convert
composite=/usr/bin/composite

[lib]

makkoto_core=/var/www/localhost/htdocs/makkoto-live/lib/makkoto-core.phar
makkoto_repository=/var/www/localhost/htdocs/makkoto-live/lib/makkoto-repository.phar
makkoto_website=/var/www/localhost/htdocs/makkoto-live/lib/makkoto-website.phar

[printing]

scale_factor=3
