[website]

subdir=
enable_errorhandling=TRUE
enable_profiling=FALSE
enable_caching=FALSE
cookiesalt=pleasechangethistoanyrandomstringwithoutsinglequotes
base_url=http://vtemplate/
cdn_url=http://vtemplate/assets/
log_path=/path/to/log/
cache_path=/path/to/cache/

[database]

host=localhost
name=database
username=username
password=password

[path]

assets=/path/to/assets/

[lib]

vtemplate_website=/path/to/lib/vtemplate-website.phar
